@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.landing-container {
    /* background-color: red; */
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-sections-container {
    /* background-color: aqua; */
    height: 500px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sections {
    position: relative;
    height: 400px;
    width: 22%;
    border-radius: 15px;
    box-shadow: 1px 5px 8px rgb(177, 170, 170);
    cursor: pointer;
    overflow: hidden;
}

.sections::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s ease;
    border-radius: 15px;
}

.sections:hover::after {
    background: rgba(255, 255, 255, 0.4);
}

.sections img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.best-sellers-container {
    background-color: yellow;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best-sellers{
    background-color: brown;
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sellers-head{
    background-color: yellow;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.sellers-head p{
    font-size: 35px;
    font-weight: 600;
}

.sellers{
    background-color: blue;
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sellers-card{
    background-color: brown;
    height: 95%;
    width: 22%;
}

